@import url('https://fonts.googleapis.com/css?family=Lato:300|Playfair+Display:900i');

/* ===== GLOBAL ===== */

html {
    height: 100%;
    position: relative;
    top: -8px;
}

/* --- Helper classes --- */

.lato {
    font-family: 'Lato',
        sans-serif;
    font-weight: 300;
}

.serif {
    font-family: 'Playfair Display',
        serif;
    font-weight: 900;
    font-style: italic;
}

.text-shadow {
    text-shadow: 2px 2px 4px black;
}

.pointer:hover {
    cursor: pointer;
    color: black !important;
}

/* --- Video Backgroudn Styles --- */

#videoBg .container,
#videoBg .row {
    height: 100%;
}

#videoBg .row {
    margin-top: .5rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomeArea {
    margin-top: 3em;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    padding: 3em;
}

#welcomeArea h3 {
    color: white;
    text-shadow: 2px 2px 4px black;
}

#tagline {
    margin-top: -15px;
    margin-bottom: 10px;
}

#nameGo {
    border: none;
    color: #fff;
}

/* --- Navbar Styles --- */

.navbar {
    box-shadow: none;
    margin-top: .55rem !important;
    max-width: 100%;
    padding: 5px;
    height: 60px;
}

.navbar-brand {
    padding: 5px;
}

/* --- Main content styles --- */

#mainContent {
    max-width: 960px;
    display: none;
    margin: 2rem auto;
}

#calendarWrapper {
    min-height: 80vh;
}

/* Card Styles */
.card {
    margin: 2em 0;
    padding: .5em;
}

/* Book Cover Styles */

#trendingBooks1,
#trendingBooks2,
#results {
    display: flex;
    justify-content: space-around;
}

img.card-image {
    max-width: 100px;
    transition: all .3s ease;
}

img.card-image:hover {
    max-width: 100px;
    transform: scale(1.1);
    transition: all .3s ease;
    cursor: pointer;
}

/* Modal styles */

.modal-dialog {
    width: 100%;
    height: 80%;
}